pandas==2.1.2
PyMuPDF==1.23.4
spacy==3.7.2
transformers==4.34.0
sentence-transformers==2.2.2
en-pipeline @ https://huggingface.co/eliot-hub/en_pipeline/resolve/main/en_pipeline-any-py3-none-any.whl#sha256=8ba943d51f64ec59fceac57a3b09ac03fe0d7543fee2614a7ba565bf7b15e268
supabase==1.2.0